<!DOCTYPE html>

<html>
  <head>
    <title>Saimal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>
  </div>
  <div class="col-md-4"></div>
  </div>
</body>

</html>
